extends ../layout.jade

block css
	link(rel="stylesheet", href="../dist/css/home.css?v=3")

block pagemain
	div(class="front-cover")
		div(class="front-cover__silhouettes")
			span(class="front-cover__silhouettes-1")
			span(class="front-cover__silhouettes-2")
			img(class="front-cover__zim" src="../assets/images/zim.gif")
		div(class="front-cover__motto") 他们都说我是三胖

	div(class="brief-info")
		h1(class="brief-info__name") 袁梓民 zimyuan
		p(class="brief-info__content") Web engineer from the Tencent, focusing all his efforts on web development for this thing called 'Front End'. One day he hopes to make something that can record his life.
		ul(class="inline-list")
			li(class="inline-list-item")
				a(href="https://www.github.com/yuanzm",class="inline-list-item-link")
					span(class="icon icons8-Github")
					|&nbspFollow
			li(class="inline-list-item")
				a(href="/profile",class="inline-list-item-link")
					span(class="icon icons8-User")
					|&nbspProfile

	div(class="zimyuan__hr")

	if article.length
		section(class="recommend")
			h2(class="recommend__title")
				span(class="icon icons8-Document") 
				|&nbsp热门文章
			ul(class="recommend__list")
				each one in article
					li(class="recommend__list-item")
						a(class="recommend__list-item-link", href="/blog/" + one._id )
							h3(class="recommend__list-item-title")=one.title
							p(class="recommend__list-item-mata")=one.create_at_ago() + ' 阅读(' + one.visit_count + ')'

	if note.length
		section(class="recommend")
			h2(class="recommend__title")
				span(class="icon icons8-Note")
				|&nbsp最新笔记
			ul(class="recommend__list")
				each one in note
					li(class="recommend__list-item")
						a(class="recommend__list-item-link", href="/notes/" + one._id + '?from=home' )
							h3(class="recommend__list-item-title")=one.title
							p(class="recommend__list-item-mata")=one.notebook_name + '. ' + one.update_at_ago()
								
	if photo.length
		section(class="recommend")
			h2(class="recommend__title")
				span(class="icon icons8-Photo")
				|&nbsp精选照片
			ul(class="recommend__list")
				each one in photo
					li(class="recommend__list-item")
						a(class="recommend__list-item-link", href="/photo/" + one._id )
							div(class="recommend__list-item-photo")
								img(src="http://jimramsden.com/content/02-photos/11-coast/thumb.jpg")
							h3(class="recommend__list-item-title")=one.title
							p(class="recommend__list-item-mata")=one.create_at_ago()

	div(class="zimyuan__hr")
